{% extends "layouts/base.twig" %}

{% block body %}

    <h1>{{ entry.title }}</h1>

    <p>
        <strong>First name:</strong> {{ entry.firstName }}
    </p>

    <p>
        <strong>Last name:</strong> {{ entry.lastName }}
    </p>

    <p>
        <strong>Country:</strong> {{ entry.country }}
    </p>

{% endblock %}