{% extends "layouts/base.twig" %}

{% set myEntryQuery = craft.entries.section('artists').limit(10) %}
{% set entries = myEntryQuery.all() %}

{% block body %}

    <h1>Artists</h1>

    <ul>
        {% for entry in entries %}
            <li>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}