{% extends "layouts/base.twig" %}

{% set myEntryQuery = craft.entries.section('artists').limit(10) %}
{% set entries = myEntryQuery.all() %}

{% block body %}
    <div class="container artists">
        <h1>Artists</h1>

        <ul>
            {% for entry in entries %}
                <li>
                    <a href="{{ entry.url }}">
                        <p>{{ entry.title }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}