<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ currentSite.language }}">
  <head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ docTitle ?? siteName }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css?v={{ now | date('U') }}" />
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="brand">
        {% set siteSettings = craft.app.getGlobals().getSetByHandle('siteSettings') %}
            {% if siteSettings and siteSettings.logo.one() %}
                <a href="/" class="nav__logo">
                    <img src="{{ siteSettings.logo.one().url }}" alt="Website Logo">
                </a>
            {% endif %}
      </div>
        <nav>
            <ul>
            <li><a href="/music">Music</a></li>
            <li><a href="/artists">Artists</a></li>
            </ul>
        </nav>
    </header>
    {% block body %} {% endblock %}
  </body>
</html>
