{% extends "layouts/base.twig" %}

{% set myEntryQuery = craft.entries.section('music').limit(10) %}
{% set entries = myEntryQuery.all() %}

{% block body %}
    <div class="container music">
        <h1>Discover our sound</h1>

        <ul>
            {% for entry in entries %}
                <li>
                    <a href="{{ entry.url }}">
                        <figure>
                            <img src="{{ entry.image.one().getUrl('small') }}" alt="{{ entry.image.one().title }}">
                        </figure>
                        <p>
                            {{ entry.title }}
                        </p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}